body{
    /* font-family: fantasy; */
    background-image: url("./pics/wp4553567.webp");
    background-size: 100%;
    background-repeat: no-repeat;
    /* position: fixed; */
    background-position: fixed; 
    /* margin: 0px; */
    /* overflow: hidden; Hide scrollbars */
}


/* Button css */

.home a{
    position: relative;
    color: blue;
    font-family: fantasy;
    text-decoration: none;
    z-index: 1;
    }

    /* box csss */

.box1 img{
    width: 150px;
    height: 150px;
}

.box1{
    width: 180px;
    height: 180px;
    border: 1px solid black;
    margin: 0;
    padding: 0;
   
    }
.box2 img{
    width: 150px;
    height: 150px;
    }
.box2{
    width: 180px;
    height: 180px;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    }
.box3 img{        
    width: 150px;
    height: 150px;
    }
.box3{
     width: 180px;
    height: 180px;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    }
.box4 img{        
    width: 150px;
    height: 150px;
    }

.box4{
    position: relative;
    bottom: 583px;
    left: 200px;
    width: 180px;
    height: 180px;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    }

.box5 img{        
    width: 150px;
    height: 150px;
    }

.box5{
    position: relative;
    bottom: 583px;
    left: 200px; 
    width: 180px;
    height: 180px;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    }

.box6 img{        
    width: 150px;
    height: 150px;
    }

.box6{
    position: relative;
    bottom: 583px;
    left: 200px;
    width: 180px;
    height: 180px;
    border: 1px solid black;
    margin: 0;
    padding: 0; 
    }

.box7 img{        
    width: 150px;
    height: 150px;
    }
.box7{
    position: relative;
    bottom: 1185px;
    right: 200px;
    width: 180px;
    height: 180px;
    border: 1px solid black;
    margin: 0;
    padding: 0; 
    }

.box8 img{        
    width: 150px;
    height: 150px;
    }
.box8{
    position: relative;
    bottom: 1185px;
    right: 200px;
    width: 180px;
    height: 180px;
    border: 1px solid black;
    margin: 0;
    padding: 0; 
    }

.box9 img{        
    width: 150px;
    height: 150px;
    }
.box9{
    position: relative;
    bottom: 1185px;
    right: 200px;
    width: 180px;
    height: 180px;
    border: 1px solid black;
    margin: 0;
    padding: 0; 
    }

.text{
    position: absolute;
    color: white;
    z-index: -1;
}

/* Radio Buttons start*/

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button > 2e knop achter de tekst */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button > de cirkels zelf*/
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) > puntje in het blauwe rondje */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }
  
/* Radio Buttons einde*/