body {
    text-align: center;
    font-family: fantasy;
    font-size: 60px;
}

#r1 {
    color: gold;
}

#r2 {
    color: black;
}

#r3 a {
    color: blue;
    text-decoration: none;
}

#r4 a {
    color: brown;
    text-decoration: none;
}